/** 正文标签 **/
.entry ol li{list-style: decimal inside;}
.entry ul li{list-style: square inside;}
.entry code {
	width: 660px;
	background: #FFF url(images/code.png) no-repeat right top;
	font: 12px/17px tahoma, arial, sans-serif;
	color: #4e6384;
	display: block;
	margin: 5px auto 5px auto;
	padding: 20px 10px 10px 10px;
	border-left: 3px solid #8391A7;
	border-right: 1px solid #8391A7;
	border-top: 1px solid #8391A7;
	border-bottom: 1px solid #8391A7;
	}
.entry blockquote {
	width: 660px;
	font: 13px 微软雅黑, Verdana, Tahoma, Lucida Grande, Arial, sans-serif;
	color: #4e6384;
	line-height: 23px;
	margin: 5px auto 5px auto;
	padding: 10px;
	clear: both;
	border: 1px solid #ccc;
	}
blockquote p {
	text-align:left !important;
	}
 /** 日志分页 **/
p.pages {
	margin:2px auto 0;
	width:500px;
	color: #0196e3;
	text-align:center;
	}
p.pages a {
	padding: 3px 6px;
	border: 1px solid #ccc;
	}
/** 404 **/
.error h2 {
	font-size: 16px;
	text-align: center;
	}
 /** 管理面板 **/
.admin {
	float:left;
	width:234px;
	padding:10px 0 10px 0;
	}
.admin_bar {
	float:left;
	width:110px;
	}
.admin_bar li {
	margin:0 0 5px 35px;
	}
/** 广告位 **/
.ads_c {
	height:101%;
	padding:10px 0 5px 0;
	text-align:center;
	}
.ad_c {
	margin:5px auto 0;
	}
/** 订阅 **/
#rssfeed {
	padding: 5px 5px 0 5px;
	}
#message {
	display:none;
	}
#message a {
	padding: 2px 0 2px 60px;
	}
#message li {
	list-style:none
	}
#message,#rssfeed,.ads_c,.r_comments,.admin,.categories {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}
/** 日历 **/
#wp-calendar {
	width:100%;
	}
#wp-calendar, #wp-calendar th, #wp-calendar caption {
	text-align:center;
	}
#wp-calendar th {
	background:#4A9CE4;
	color:#fff;
	padding:2px;
	border:1px solid #4A9CE4;
	}
#wp-calendar td {
	border:1px solid #ccc;
	}
#wp-calendar caption {
	background:transparent;
	font-weight:bold;
	padding:3px 0px 7px 0px;
	color:#333;
	}
#wp-calendar #today {
	background:#4A9CE4;
	color:#fff;
	}
#wp-calendar a {
	color:#585858;
	}
/** 图文混排 **/
img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}
img.alignnone {
	margin: 0 0 10px 0;
	display: inline;
	}
img.alignright {
	margin: 0 0 10px 10px;
	display: inline;
	}
img.alignleft {
	margin: 0 10px 10px 0;
	display: inline;
	}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}
.alignright {
	float: right;
	margin: 0 0 10px 10px;
	}
.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	}
 /** 留言板 **/ 
.message {
	color:#0088CC;
	}
.message ul li {
	padding:5px 10px 10px 10px;
	border-bottom:1px dashed  #ccc;
	}
.message li {
	line-height:20px; 
	margin: 0 0 5px 0;
	}
.message img {
	height:32px;
	float:left;
	margin: 0 10px 0 0;
	padding:2px;
	border: 1px solid #ccc;
	}
.message_comment {
	padding:0 0 10px 15px;
	}
.message_comment a img {
	padding:4px;
	border: 1px solid #ccc;
	}
 /** search **/ 
.center {
	height:250px;
	padding:50px 0 0 0;
	text-align:center;
	}