/* 图片*/
.browse_a {
	float:left;
	width:950px;
	margin:30px 0 5px 0;
	padding-left:15px;
	}
#images_featured {}
#images_featured .item {
	position: relative;
	overflow:hidden;
	width:236px;
	height:155px;
	float:left;
	margin: 0 0 10px 0;
	padding:0 0 0 7px;
	}
#images_featured .item img {
	position:absolute;
	}
#images_featured .item .boxCaption {
	width:211px;
	padding:10px;
	margin: 115px 0 0 3px;
	position:absolute;
	top:160px;
	z-index:4;
	background:url(images/bg-box.png) repeat top left;
	color:#fff;
	}
#images_featured .item h2 {
	font-weight:normal;
	text-align:center;
	}
#images_featured .item a {
	color:#f2f2f2;
	}
#images_featured .item a:hover {
 color:#d9d9d9;
	}